@import './typography';

img {
  position: relative;
  width: 100%;
}
.image-text{
    position: absolute;
    top:20%;
    left:60%;
    color: white;
    
    hr{
        background-color: white;
    }
}
.active{
    color: green;
}
.main{
    position:absolute;
   padding: 10px;
   left: 5%;
    top:75%;
    width: 90%;
    background: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.design-image{
    width: 18%;
    height: 10%;
    border: 2px solid black;
    padding: 5px;
    border-radius: 50%;
}
.body,.blog-body{
    border-top: double;
    padding: 35px 0px 35px 0px;
}
.blog-body{
    width: auto;
}
.pic-slide{
    float: right;
}
.blog-image{
    height: 20%;
    width: 20%;
}
